/**
 * Most CSS is defined by Metronic, but sometimes we want to override it
 */


/**
 * Force a page to be full screen
 */

.fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
}

.channel {
    padding: 20px;
    background-color: white;
}

.widget-gradient-small {
    min-height: 150px;
}

.widget-gradient-small .widget-gradient-body h5.widget-gradient-title {
    font-size: 10px;
    font-weight: lighter;
    background-color: red;
    position: absolute;
    padding: 2px;
    top: 0;
    left: 0;
}

.widget-gradient-bottom {
    position: absolute;
    bottom: 0;
}

.widget-gradient-bottom .widget-gradient-body-actions li a {
    color: #AAA;
}

.widget-gradient.widget-gradient-img-v1 {
    background-position: left top;
}

.widget-gradient .widget-gradient-body .widget-gradient-title-light {
    font-size: 15px;
    font-weight: normal;
}

.widget-gradient .widget-gradient-title a {
    color: white;
}

.widget-gradient .widget-gradient-title a:hover {
    text-decoration: none;
}


/*
 * CSS3 Spinner Bar
 */

.page-spinner-bar > div,
.block-spinner-bar > div {
    background: #6fa7d7;
}
