<div class="container-fluid container-lf-space page-content">
    <div ng-model="channel" ng-repeat="video in channel.videos track by $index">
        <div class="col-md-3 col-sm-6 col-xs-12 margin-bottom-30">
            <!-- BEGIN WIDGET WRAP IMAGE -->
            <div class="widget-wrap-img widget-wrap-img-small widget-bg-color-white rounded-3">
                <h5 class="widget-wrap-img-title widget-wrap-img-title-light">{{ video.snippet.title }}</h5>
                <img class="img-responsive" ng-src="{{video.snippet.thumbnails.medium.url}}" alt="Thumbnail">
            </div>
            <!-- END WIDGET WRAP IMAGE -->
        </div>
    </div>
</div>
